# Libraries Import

In [222]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Pre-processing Function

In [223]:
### To replace NaN values

#####  mediane si quantative
#####  mode si qualitative

def remplaceNanValues(df, columnName) :
    if columnName == 'Age' :
        x = df[columnName].mode()
    else :
        x = df[columnName].unique()[0]
        
    for index, row in df.iterrows() :
        if pd.isna(row[columnName]):
            df.loc[index, columnName] = x

In [224]:
def transformToString(df,columnName) :
    df[columnName] = df[columnName].apply(str)

In [225]:
def chooseAndDummifyVariables(df, features_columns, to_dummify, targetName):
    X = df[features_columns]
    y = df[targetName]    
    X = pd.get_dummies(X, columns = to_dummify)
    
    return X,y

# Model train, score and save Function

In [226]:
from sklearn.model_selection import train_test_split
import _pickle as cPickle

### Train and score the Model

In [227]:
def trainAndScore(model, X, y):
    liste_test_size = [a/20.0 for a in range(0,20)][1:]
    scores = []
    for ts in liste_test_size :
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = ts, random_state=0)
        clf = model.fit(X_train, y_train)
        score = clf.score(X_test, y_test)
        scores.append(score)
    print("[INFO] SCORES : ",scores)
    print("[INFO] MEAN = ",np.array(scores).mean())
    print("[INFO] MAX = ",max(scores))

### To save the Model

In [228]:
def saveModel(model) :
    filename = ''+model+'.sav'
    cPickle.dump(model, open(filename, 'wb'))

# Playing with the Data

In [229]:
df = pd.read_csv('Pokemon.csv', sep=',')

In [230]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [231]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [232]:
df.isna().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [233]:
remplaceNanValues(df, 'Type 2')

In [234]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [235]:
df['Defense'].unique()

array([ 49,  63,  83, 123,  43,  58,  78, 111,  65,  80, 100, 120,  35,
        55,  50,  30,  40,  75,  60,  44,  69,  85, 110,  52,  67,  87,
        57,  77,  48,  73,  20,  45,  70,  25,  95,  15, 115, 130, 180,
       160,  90,  53,  79,   5, 109, 125, 105,  64,  34,  38,  28,  42,
       140, 200, 230,  62,  37,  10, 150,  41,  61,  32,  23, 135,  97,
        71,  68,  88,  51, 118, 168, 102,  66,  84,  94,  47,  86, 116,
       108,  72,  56,  76, 145, 107, 106,  39, 126,  59,  99,  89, 103,
       133,  82,  91, 131, 112, 129, 122,  54,  33, 119, 184, 121],
      dtype=int64)

In [236]:
features_columns = ['Type 1', 'Type 2', 'Total' , 'Attack', 'Defense', 'Speed', 'Generation']
to_dummify = ['Type 1', 'Type 2', 'Generation']
targetName = 'Legendary'

In [237]:
X, y = chooseAndDummifyVariables(df, features_columns, to_dummify, targetName)

In [238]:
X

,Total,Attack,Defense,Speed,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,...,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water,Generation_1,Generation_2,Generation_3,Generation_4,Generation_5,Generation_6
0,318,49,49,45,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,405,62,63,60,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,525,82,83,80,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,625,100,123,80,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,309,52,43,65,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,600,100,150,50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
796,700,160,110,110,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
797,600,110,60,70,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
798,680,160,60,80,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
799,600,110,120,70,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

# Model Build

## Logistic Regression

In [239]:
from sklearn.linear_model import LogisticRegression

#### To ignore FutureWarning

In [240]:
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [241]:
model = LogisticRegression()

In [242]:
trainAndScore(model, X, y)

[INFO] SCORES :  [0.925, 0.925, 0.9166666666666666, 0.90625, 0.91, 0.9166666666666666, 0.9214285714285714, 0.928125, 0.9444444444444444, 0.9375, 0.9251700680272109, 0.91875, 0.9192307692307692, 0.9196428571428571, 0.9116666666666666, 0.9078125, 0.9073529411764706, 0.9097222222222222, 0.8631578947368421]
[INFO] MEAN =  0.9165045930741783
[INFO] MAX =  0.9444444444444444

# Naive Bayes

In [243]:
from sklearn.naive_bayes import GaussianNB

In [244]:
model = GaussianNB()

In [245]:
trainAndScore(model, X, y)

[INFO] SCORES :  [0.375, 0.4375, 0.38333333333333336, 0.3125, 0.355, 0.37916666666666665, 0.37857142857142856, 0.378125, 0.38333333333333336, 0.3925, 0.39909297052154197, 0.41458333333333336, 0.43846153846153846, 0.5607142857142857, 0.6583333333333333, 0.696875, 0.7544117647058823, 0.7555555555555555, 0.7881578947368421]
[INFO] MEAN =  0.4863797599087934
[INFO] MAX =  0.7881578947368421

# SVM

In [246]:
from sklearn.svm import SVC

In [247]:
model = SVC(gamma='auto')

In [248]:
trainAndScore(model, X, y)

[INFO] SCORES :  [0.925, 0.925, 0.925, 0.90625, 0.91, 0.9083333333333333, 0.9071428571428571, 0.91875, 0.9277777777777778, 0.93, 0.9251700680272109, 0.9229166666666667, 0.9192307692307692, 0.9196428571428571, 0.9166666666666666, 0.915625, 0.9176470588235294, 0.9236111111111112, 0.9236842105263158]
[INFO] MEAN =  0.919339388234163
[INFO] MAX =  0.93

# K-Nearest Neighbors

In [249]:
from sklearn.neighbors import KNeighborsClassifier

In [250]:
model = KNeighborsClassifier(n_neighbors=3)

In [251]:
trainAndScore(model, X, y)

[INFO] SCORES :  [1.0, 0.9625, 0.9333333333333333, 0.9375, 0.94, 0.9541666666666667, 0.9392857142857143, 0.946875, 0.95, 0.945, 0.9319727891156463, 0.925, 0.9230769230769231, 0.9196428571428571, 0.9233333333333333, 0.93125, 0.9279411764705883, 0.9305555555555556, 0.9276315789473685]
[INFO] MEAN =  0.9394244698909467
[INFO] MAX =  1.0

In [252]:
from sklearn.model_selection import GridSearchCV

rfc = KNeighborsClassifier(n_neighbors=5) 

param_grid = { 
    'n_neighbors': [15, 300],
    'algorithm' : ['auto', 'ball_tree', 'kd_tree', 'brute']
}

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 8)
CV_rfc.fit(X, y)
print(CV_rfc.best_params_)

{'algorithm': 'brute', 'n_neighbors': 15}

In [253]:
model = KNeighborsClassifier(n_neighbors=10, algorithm='ball_tree')

In [254]:
trainAndScore(model, X, y)

[INFO] SCORES :  [0.975, 0.9875, 0.975, 0.975, 0.965, 0.9583333333333334, 0.9464285714285714, 0.953125, 0.95, 0.945, 0.9206349206349206, 0.91875, 0.926923076923077, 0.9196428571428571, 0.9216666666666666, 0.9171875, 0.9161764705882353, 0.9236111111111112, 0.925]
[INFO] MEAN =  0.9431568162015145
[INFO] MAX =  0.9875

# Gradient Boosting Algorithm

In [255]:
from sklearn.ensemble import GradientBoostingClassifier

In [256]:
model = GradientBoostingClassifier(n_estimators=100,max_depth=5)

In [257]:
trainAndScore(model, X, y)

[INFO] SCORES :  [0.975, 0.9875, 0.9666666666666667, 0.975, 0.975, 0.975, 0.9571428571428572, 0.965625, 0.9555555555555556, 0.945, 0.9455782312925171, 0.9229166666666667, 0.9384615384615385, 0.925, 0.9283333333333333, 0.93125, 0.9338235294117647, 0.9305555555555556, 0.9315789473684211]
[INFO] MEAN =  0.9507888358660462
[INFO] MAX =  0.9875

## Using Grid Search CV to find the best Params

In [258]:
from sklearn.model_selection import GridSearchCV

rfc = GradientBoostingClassifier(n_estimators=40) 

param_grid = { 
    'n_estimators': [40, 120],
    'max_depth' : [1, 10],
}

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
CV_rfc.fit(X, y)
print(CV_rfc.best_params_)

{'max_depth': 1, 'n_estimators': 120}

In [259]:
model = GradientBoostingClassifier(n_estimators=40,max_depth=10)

In [260]:
trainAndScore(model, X, y)

[INFO] SCORES :  [0.975, 0.975, 0.9583333333333334, 0.95625, 0.96, 0.9625, 0.9607142857142857, 0.9625, 0.9611111111111111, 0.9375, 0.9319727891156463, 0.9145833333333333, 0.9230769230769231, 0.9285714285714286, 0.9283333333333333, 0.934375, 0.9338235294117647, 0.9305555555555556, 0.9315789473684211]
[INFO] MEAN =  0.9455673457855337
[INFO] MAX =  0.975

In [261]:
model = GradientBoostingClassifier(n_estimators=75,max_depth=7)

In [262]:
trainAndScore(model, X, y)

[INFO] SCORES :  [0.975, 0.9875, 0.95, 0.95625, 0.96, 0.9791666666666666, 0.9607142857142857, 0.965625, 0.9666666666666667, 0.9525, 0.9138321995464853, 0.9291666666666667, 0.9230769230769231, 0.9285714285714286, 0.9283333333333333, 0.93125, 0.9338235294117647, 0.9305555555555556, 0.9315789473684211]
[INFO] MEAN =  0.947558484346221
[INFO] MAX =  0.9875

# XGBoost

In [263]:
from xgboost import XGBClassifier

In [264]:
model = XGBClassifier()

In [265]:
trainAndScore(model, X, y)

[INFO] SCORES :  [0.975, 0.975, 0.9666666666666667, 0.96875, 0.97, 0.9666666666666667, 0.9571428571428572, 0.95625, 0.9583333333333334, 0.955, 0.9501133786848073, 0.9291666666666667, 0.9307692307692308, 0.9285714285714286, 0.9266666666666666, 0.925, 0.925, 0.925, 0.925]
[INFO] MEAN =  0.9481103629035961
[INFO] MAX =  0.975